{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'index2' %}">
<style>
    table {
        text-align: center;
        border: 1px solid #000000;
    }

    th {
        text-align: center;
        border: 1px solid #000000;
    }

    tr {
        text-align: center;
        border: 1px solid #000000;
    }

    td {
        text-align: center;
        border: 1px solid #000000;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container">

    {% comment %} 사용되는 컬럼들 'week', 'player_name', 'player_birth', 'team', 'TPA', 'RTPA', 'AB', 'R',
    'H', 'HR', 'RBI', 'BB', 'HBP', 'SO', 'GO', 'FO', 'PIT', 'GDP', 'LOB',
    'AVG', 'game_count' {% endcomment %}
    <div class="index2__content">
        <table>
            {% for bat in batting|slice:"0:1" %}
                {% for key in bat.keys %}
                <th>{{ key }}</th>
                {% comment %} <th></th> {% endcomment %}
                {% endfor %}
            {% endfor %}
            {% for info in batting %}
                <tr>
                    {% for value in info.values %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}