table {
    text-align: center;
}

table > th {
    text-align: center;
}

table > tr {
    text-align: center;
}

.index2__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index2__content--info {
    display: flex;
    flex-direction: row;
}